<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RRP - Coming Soon</title>
  <link rel="stylesheet" href="/coming-soon.css">
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <link href="https://fonts.cdnfonts.com/css/akrobat" rel="stylesheet">
</head>
<body>
    <div id="obenlinks">
        <div><img id="logo" src="/img/logo.png" alt="Logo"></div>
        <div id="logotext">Raleigh<span id="logotext2">Roleplay</span></div>
    </div>
    <div id="strich1"></div>
    
    <div id="nav">
        <a href="/" id="home">HOME</a>
        <div id="homestrich"></div>
        <a href="/forum" id="forum">FORUM</a>
        <a href="/development-board" id="development">DEVELOPMENT</a>
        <a href="/coming-soon" id="shop">SHOP</a>
        <a href="https://discord.gg/gUDr28uf6e" target="_blank" id="dc">DISCORD</a>
    </div>

  <div id="coming-soon">
    <h1>Store Coming Soon!</h1>
    <p>We're working hard to bring you an amazing shopping experience. Stay tuned for updates!</p>
    <a href="/">Go to Home</a>
  </div>

  <div id="copyright">Copyright © by Raleigh Roleplay</div>
</body>
</html>
