<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RRP - Home</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <meta name="description" content="">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.cdnfonts.com/css/akrobat" rel="stylesheet">
</head>
<body>
  <div id="obenlinks">
    <div><img id="logo" src="/img/logo.png" alt="Logo"></div>
    <div id="logotext">Raleigh<span id="logotext2">Roleplay</span></div>
</div>
<div id="strich1"></div>

<div id="nav">
    <a href="/" id="home">HOME</a>
    <div id="homestrich"></div>
    <a href="/forum" id="forum">FORUM</a>
    <a href="/development-board" id="development">DEVELOPMENT</a>
    <a href="/coming-soon" id="shop">SHOP</a>
    <a href="https://discord.gg/gUDr28uf6e" target="_blank" id="dc">DISCORD</a>
</div>

  <div id="textbox">
    <div id="brezelrp">RALEIGH<span id="brezelrpweiß"> ROLEPLAY</span></div>
    <div id="serverinfo">SERVER INFO</div>
    <div id="serverinfotext">
      Raleigh Roleplay (RRP)  is a vibrant FiveM community created by three close friends with over five years of development experience each. The dynamic server has a richly immersive roleplay experience inspired by the diverse culture and scenic beauty of Raleigh. With expertly crafted custom scripts, detailed maps, and a dedicated team for smooth gameplay, RRP is inviting roleplayers of all experience levels. Whether you're patrolling as law enforcement, building a business, or exploring creative storylines, RRP stands out as a premier destination for FiveM enthusiasts.     </div>
    <div id="serverextra">SERVER HISTORY</div>
    <div id="serverextratext">
      Raleigh Roleplay, better known as RRP, was founded by three friends with over five years of development experience, united by a vision to create a top-tier FiveM community. From custom scripts and immersive gameplay, it quickly evolved into a quality roleplay hub inspired by the charm of Raleigh. Through further dedication to innovation and community feedback, RRP has grown into a vibrant space where players can connect, create, and explore endless storylines.    </div>
  </div>

  <div>
    <a href="https://cfx.re/join/oezykr" target="_blank" id="play"><span id="playtext">PLAY</span></a>
  </div>

  <div><img id="lester" src="/img/lester.png" alt="Lester"></div>
  <div><img id="lester_mobile" src="/img/lester_mobile.png" alt="Lester Mobile"></div>

  <div id="copyright">
    <p>Copyright © 2025 by Raleigh Roleplay</p>
    <a href="/privacy-policy">Privacy Policy</a> | 
    <a href="/terms-of-service">Terms of Service</a>
</div>
  <script>
    function isMobile() {
        return /Mobi|Android/i.test(navigator.userAgent);
    }

    if (isMobile()) {
        window.location.href = '/mobile-user';  
    }
    </script>
</body>
</html>
