<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - North Carolina State Roleplay</title>
  <link rel="icon" type="image/x-icon" href="img/logo.png">
  <meta name="description" content="">
  <link rel="stylesheet" href="discord.css">
  <link href="https://fonts.cdnfonts.com/css/akrobat" rel="stylesheet">
</head>
<body>
  <div id="obenlinks">
    <div><img id="logo" src="img/logo.png" alt="Logo"></div>
    <div id="logotext">Raleigh<span id="logotext2">Roleplay</span></div>
  </div>
  <div id="strich1"></div>

  <div id="nav">
    <div><a href="/" id="home">HOME</a></div>
    <div><a href="./login.html" id="forum">FORUM</a></div>
    <div id="forumstrich"></div>
    <div><a href="https://ncrp5m.tebex.io/" target="_blank" id="shop">SHOP</a></div>
    <div><a href="https://discord.gg/gUDr28uf6e" target="_blank" id="dc">DISCORD</a></div>
  </div>

  <div class="container">
    <h1>Login with Discord</h1>
    <p id="description">Access the RRP forums by logging in with your Discord account. This process is quick, secure and reliable.</p>
    <a href="/auth/discord" id="play">Login with Discord</a>
  </div>

  <div id="copyright">Copyright © by Raleigh Roleplay</div>
</body>
</html>
